@charset "utf-8";
@font-face {
    font-family: ntS;
    src: url(./NotoSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ntS;
    /* color: #000; */
}
body{
    font-family: ntS;
    overflow-x: hidden;
}
ul,ol,li{
    list-style: none;
}
a{  color: #000;
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: top;
}
input{
    display:none;
}
.none{
    display: none;
}
/* animation */
@keyframes navLeft{
    from{
        transform: translateX(-50%);
    }
}
@keyframes navRight{
    from{
        transform: translateX(50%);
    }
}
/* header 이다빈 */
#header{
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.5);
    z-index:100;
    position:fixed;
    top:0;
    left:0;
}
.headIn{
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
#logo{
    width: 110px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -50px;
    float: left;
}
#header .navL{
    animation: navLeft 2s;
    animation-delay: 0.5s;
}
#header .navR{
    animation: navRight 2s;
    animation-delay: 0.5s;
}
.navL,
.navR{
    width: 50%;
    height: 100px;
    float: left;
    /* background: #f09; */
}
.navR {
    text-align: right;
}
.navL li,
.navR li {
  display: inline-block;
}
.navL li a,
.navR li a {
  display: block;
  height: 100px;
  line-height: 120px;
  padding: 0 12px;
  margin: 0 20px;
  font-size: 14px;
  color:#fff;
}


/* slide 곽소영 */
.visual{
    height:1080px;
    overflow:hidden;
    position:relative;
}
/* video */
@keyframes slideFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
.video_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    z-index: 1;
    animation-name: slideFromTop;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
}
.video-container video {
    width: 1920px;
    height: 1080px;
    object-fit: cover;
  }
@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.txtWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    display: block;
    color: white;
    text-align: center;
    z-index: 2;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
}
.title{
    display: inline-block;
    font-size: 60px;
    font-weight: 500;

}
.txt{
    font-size: 28px;
    line-height: 35px;
    padding: 5px 0;
    text-transform: capitalize;
}
.txtWrap .go_btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    font-weight: 500;
    color: #000;
    line-height: 50px;
    font-size: 20px;
    background: rgba(255,255,255,.8);
    border-radius: 30px;
    transition: all .5s;
}
.txtWrap .go_btn:hover{
    background: rgba(0,0,0,.8);
    color: #fff;
}






/* 황경준 */
#section{
    width: 100%;
}
.cont1{
    position: relative;
    width: 1920px;
    height: 550px;
    margin: 200px auto;
    background-color: #000;
}
.c1_title{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 32px;
    color: #fff;
}
.cont1 ul{
    margin-left: 150px;
}
.cont1 li{
    float: left;
}
.cont1 li a{
    display: block;
    width: 394px;
    height: 410px;
    margin: 90px 8px 0 0;
}
.cont1 .imgB{
    width: 394px;
    height: 229px;
    overflow: hidden;
}
.cont1 li img{
    height: 229px;
    transition: all .3s;
}
.cont1 li a:hover img{
    transform: scale(1.2);
}
.cont1 li:last-child a{
    margin-right: 0;
}
.cont1 li dl{
    width: 394px;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}
.cont1 li dt{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #fff;
}
.cont1 li dd{
    font-size: 14px;
    color: #999;
    margin-top: 20px;
}
.more{
    position: absolute;
    right: 1%;
    bottom: 1%;
    transform: translate(-1%,-1%);
    width: 80px;
    height: 30px;
}
.more span,
.more i{
    color: #888;
}
.more p{
    position: absolute;
    width: 60px;
    height: 1px;
    background: #888;
}



/* cont2 이서현 */
.cont2{
    margin-bottom:300px;
}
.cont2In{
    width:1600px;
    margin:0 auto;
}
h2{
    text-align:center;
    margin:90px 0 50px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}
.contSlideIn{
    width:1600px;
    height:300px;
    /* border:1px solid red; */
    margin:0 auto;
    position:relative;
}
.slideWrap{
    margin:0 auto;
    width:1260px;
    height:300px;
    overflow:hidden;
    position:relative;
}
.slide{
    width:2090px;
    height:300px;
    transition:all .5s;
    position:absolute;
    left:0;
    top:0;
}
.slide li{
    float:left;
    margin-right:10px;
    width:200px;
    height:300px;
    position:relative;
}
.slide li:last-of-type{
    margin-right:0;
}
.slide li a{
    display:block;
    width:200px;
    height:260px;
}
.slide li span{
    display:block;
    width:200px;
    height:260px;
    transition:all 0.5s;
    opacity:0;
    visibility: hidden;
    background:rgba(0,0,0,.5);
    color:#fff;
    text-align:center;
    padding-top:127px;
}
.slide li:hover span{
    opacity:1;
    visibility: visible;
}
.slide .txtB{
    text-align:center;
    font-size:10px;
    color:#333;
    margin-top: 10px;
}
.contSlide1 .slide li a{
    background:url(../images/343T50B4086X0200_E01-1.webp)center/cover;
}
.contSlide1 .slide li:nth-child(2) a{
    background-image: url(../images/514S09G3050X1998_E01.webp);
}
.contSlide1 .slide li:nth-child(3) a{
    background-image: url(../images/542V41A3078X0400_E01.webp);
}
.contSlide1 .slide li:nth-child(4) a{
    background-image: url(../images/521D04A6521X4809_E01-1.webp);
}
.contSlide1 .slide li:nth-child(5) a{
    background-image: url(../images/541B64A3356X0100_E01.webp);
}
.contSlide1 .slide li:nth-child(6) a{
    background-image: url(../images/544W05A1014X0200_E01.webp);
}
.contSlide1 .slide li:nth-child(7) a{   
    background-image: url(../images/521R26A7757X5810_E01-1.webp);
}
.contSlide1 .slide li:nth-child(8) a{
    background-image: url(../images/541B88A3877X0861_E01.jfif);
}   
.contSlide1 .slide li:nth-child(9) a{
    background-image: url(../images/541R79A6396X0842_E01.webp);
}
.contSlide1 .slide li:nth-child(10) a{
    background-image: url(../images/541B54A3A75X0823_E01.webp);
}
.contSlide2 .slide li a{
    background:url(../images/Y0000010_E000000091_E01_GHC.webp)no-repeat center/cover;
}
.contSlide2 .slide li:nth-child(2) a{
    background-image: url(../images/Y0000044_E000000402_E01_GHC.jpg);
}
.contSlide2 .slide li:nth-child(3) a{
    background-image: url(../images/Y2472921_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(4) a{
    background-image: url(../images/Y0319000_E000000409_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(5) a{
    background-image: url(../images/Y0436000_E000000224_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(6) a{
    background-image: url(../images/Y0381009_E000000815_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(7) a{
    background-image: url(../images/Y0294001_C029500343_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(8) a{
    background-image: url(../images/Y0000154_E000000154_E01_GHC.webp);
}
.contSlide2 .slide li:nth-child(9) a{
    background-image: url(../images/Y0000135_E000000135_E01_GHC.jpg);
}
.contSlide2 .slide li:nth-child(10) a{
    background-image: url(../images/Y0998031_C099800245_E01_GHC.webp);
}
.arrow_ label{
    position:absolute;
    left:60px;
    top:50%;
    transform: translateY(-50%);
    display:block;
    width:60px;
    height:100px;
    background:url(../images/arrow1.png) no-repeat center center/30%;
}
.arrow_ label:nth-child(2){
    left:auto;
    right:60px;
    background-image: url(../images/arrow2.png);
}
input[id=s1_arrowL]:checked~.contSlideIn .slide1,
input[id=s2_arrowL]:checked~.contSlideIn .slide2{
    left:0;
}
input[id=s1_arrowR]:checked~.contSlideIn .slide1,
input[id=s2_arrowR]:checked~.contSlideIn .slide2{
    left:-840px;
}







/* footer 이다빈 */
#footer{
    height: 400px;
    /* background: #ff9; */
    padding: 0 30px;
    background: #000;
}
#footer .fsns>h4{
    display: none;
}
.footIn{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.fsns ul{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
}
.fsns ul li{
    padding-right: 10px;
    /* line-height: 150px; */
    font-weight: 600;
    font-size: 12px;
}
.fsns ul a{
    color: #fff;
}
.fcenter{
    width: 1040px;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* background: #f00; */
    text-align: center;
}
.fcopy{
    margin-top: 25px;
}
.flogo img{
    width: 110px;
    height: 32px;
    margin-top: 10px;
}
.fcenter .fcopy{
    /* width: 600px;
    height: 150px; */
    font-size: 10px;
    /* background: #ccc; */
    color: #fff;
    line-height: 20px;
}
.flang{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.flang h4{
    color: #fff;
}
.flang>a{
    margin-left: 10px;
    color: #fff;
}