@charset "utf-8";
#section{
    width:100%;
    height:100%;
    background:url(../images/coffee-1576552_1920.jpg) no-repeat left top/100%;
    background-attachment: fixed;
}
.cont1{
    height:340px;
    background:#D91226;
}
.cont1>.text{
    width:330px;
    height:149px;
    padding:90px 0 101px;
    margin:0 auto;
    text-align:center;
    color:#fff;
}
.cont1>.text h2{
    font-size:36px;
    font-weight:bold;
}
.cont1>.text p:nth-of-type(1){
    font-size:26px;
}
.cont1>.text hr{
    width:330px;
    height:5px;
    background:#fff;
    margin:20px 0;
}
.cont2 {
    width:100%;
    height:758px;
    position:relative;
}
.cont2>.text{
    width:610px;
    height:428px;
    background:#fff;
    left:50%;
    position:absolute;
    transform:translateX(-50%);
    top:135px;
    padding:57px 0 76px;
    text-align:center;
}
.cont2>.text p:first-of-type{
    line-height:22px;
    margin-bottom:60px;
}
.cont2>.text p:first-of-type span{
    display:block;
}
.cont2>.text h4{
    font-weight:400;
    margin-bottom:16px;
}
.cont2>.text .tel{
    margin-bottom:52px;
    font-weight:700;
}
