@charset "utf-8";
/* 폰트지정 구글폰트-영문, 한글 */
@font-face{
    font-family: prL;
    src: url(../font/Pretendard-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: url(../images/cursor.png), auto;
    color:#333;
    font-family: prL;
}
body{
    overflow-x: hidden;
}
body.on{
    overflow-y:hidden;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: prL;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    text-indent: -9999px;
}
img{
    vertical-align: top;
    max-width: 100%;
    border: none;
}
ul,ol,li{
    list-style: none;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.pc{
    display: none;
}
header{
    width: 100%;
    height: auto;
    background: #e7d8d2;
}
.navWrap{
    position: fixed;
    width: 100%; height: 75px;
    left: 0; top: 0;
    z-index: 1000;
    background: #e7d8d2;
}
#logo{
    width: 100px;
    height: 30px;
    margin-top: 22px;
    margin-left: 3%;
    float: left;
}
.navBtn{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 24px;
    height: 16px;
    right: 3%;
}
.navBtn>span{
    display: block;
    height: 3px;
    margin: 4px 0;
    background: #666;
    border-radius:5px;
}
.navBtn:before,
.navBtn:after{
    content: "";
    display: block;
    height: 3px;
    background: #666;
    border-radius:5px;
}

header nav{
    position: fixed;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
header nav.on{
    display: block;
}
.navIn{
    position: absolute;
    width: 70%;
    /* 500*70%= 350px */
    height: 100%; 
    background: #fff;
    right: 0; top: 0;
    padding-top: 28px;
}
.navIn>span{
    display: block;
    width: 88.571%;
    /* 310/350 */
    margin: 0 5.714% 24px 5.714%;
    /* 20/350 */
}
.navIn>span>a{
    display: block;
    width: 30px;
    height: 30px;
    /* background: #ff0; */
    float: left;
    position:relative;
}
.navIn>span>a>span{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:1px;
    background:#666;
}
.navIn>span>a>span:last-child{
    transform:rotate(45deg);
}
.navIn>span>a>span:first-child{
    transform:rotate(-45deg);
}
.navIn ul{
    width: 88.517%;
    margin: 40px 0 0 5.714%;
    border-top: 2px solid #cfcfcf;
}
.navIn ul>li>a{
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #cfcfcf;
    padding-left: 4.839%;
    /* 15/310 */
    font-weight:500;
}
/* 표지-pc, mobile */
.visual{
    height:800px;
    background:url(../images/background.jpg)no-repeat left top/100% 100%;
    overflow:hidden;
}
.visual>.v_img{
    height:800px;
    background-image:image-set(
        url(../images/visual_mobile_1.png) 1x,
        url(../images/visual_mobile.png) 3x
    );  
    background-repeat:no-repeat; 
    background-position: center top;
    background-size:auto 100%;
    image-rendering: -moz-crisp-edges; /* firefox */
    image-rendering: -o-crisp-edges; /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome */
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.profile{
    height:800px;
    background:url(../images/background.jpg)no-repeat left top/100% 100%;
    overflow:hidden;
}
.profile>.p_img{
    height:800px;
    background-image:image-set(
        url(../images/profile_mobile_1.png) 1x,
        url(../images/profile_mobile.png) 3x
    );  
    background-repeat:no-repeat; 
    background-position: center top;
    background-size:auto 100%;
    image-rendering: -moz-crisp-edges; /* firefox */
    image-rendering: -o-crisp-edges; /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome */
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.contents{
    height: 800px;
    background:url(../images/background.jpg)no-repeat left top/100% 100%;
    overflow:hidden;
}
.contents .c_img{
    height:800px;
    background-image:image-set(
        url(../images/contents_mobile_1.png) 1x,
        url(../images/contents_mobile.png) 3x
    );  
    background-repeat:no-repeat; 
    background-position: center top;
    background-size:auto 100%;
    image-rendering: -moz-crisp-edges; /* firefox */
    image-rendering: -o-crisp-edges; /* opera */
    image-rendering: -webkit-optimize-contrast; /* chrome */
    image-rendering: crisp-edges;
    transform: translateZ(0);
    backface-visibility: hidden;
}
:root{
    --swiper-theme-color: #dfa991 !important;
}
.swiper-pagination-bullet{
    width:20px !important;
    height:20px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
    font-size:14px;
    line-height:20px;
    color:#fff;
}
.swiper-button-prev{
    background:rgba(255,255,255,.2);
    padding:30px 25px;
    transition:all .3s;
    font-weight:500;
}
.swiper-button-next{
    background:rgba(255,255,255,.2);
    padding:30px 25px;
    transition:all .3s;
    font-weight:500;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size:35px !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    background:rgba(255,255,255,.5);
    color:#777;
}
.autoplay-progress {
    position: absolute;
    top: 16px;
    right:16px;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-theme-color);
    font-size:15px;
    line-height:40px;
    font-weight:600;
}
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.autoplay-progress span{
    color:#555;
}
#web{
    padding: 100px 0 60px;
    background: url(../images/background.jpg)no-repeat left top/100% 100%;
}
.des{
    font-size:16px;
    margin-left:4%;
    margin-bottom:40px;
    color:#777;
    font-weight:300;
}
h3{
    font-weight:100;
    color:#555;
}
h3 span{
    color:#888;
}
#web h3{
    font-size: 30px;
    margin-bottom: 20px;
    margin-left:4%;
}
#web h3 span{
    margin-right:5px;
}
#web .contWrap{
    width: 92%;
    height: 600px;
    margin: 0 auto;
}
#web .contWrap ul{
    height:100%;
}
#web .contWrap ul li{
    padding:10px;
    height:100%;
    background:url(../images/huinsaeg-budeuleoun-byeog-jilgam-baegyeong.jpg)no-repeat left top/cover;
}
#web .contWrap ul li>a:first-child{
    display:block;
    height:300px;
    text-align:center;
    padding:50px 0 50px;
}
#web .contWrap ul li>a img{
    height:200px;
}
#web .contWrap ul li .txtB{
    font-size:14px;
    padding:20px 20px 85px;
    line-height:1.6;
    font-weight:500;
}
#web .contWrap ul li .txtB .txt{
    text-transform: none;
}
#web .contWrap ul li .txtB>div.title{
    text-transform: capitalize;
    font-size:20px;
    letter-spacing: 3px;
    margin-bottom:20px;
    font-weight:900;
}
#web .contWrap ul li .txtB>div.title span{
    letter-spacing: 0;
    font-size:15px;
    margin-left:10px;
    margin-top:-8px;
}
#web .contWrap ul li .txtB .p p{
    font-weight:500;
    color:#555;
}
#web .contWrap ul li .web_,
#web .contWrap ul li .detail{
    width:31.088%;
    height:40px;
    display:block;
    float:left;
    background:#edc6b4;
    line-height:40px;
    text-align:center;
    transition:all .5s;
    margin-top:20px;
    font-size:16px;
    border-radius:20px;
    font-weight:500;
}
#web .contWrap ul li .web_{
    margin-right:10px;
}
#web .contWrap ul li .web_:hover,
#web .contWrap ul li .detail:hover{
    background:#666;
    color:#edc6b4;
}
.section2{
    height: 60px;
    line-height: 60px;
    background: #e7d8d2;
    text-align: center;
}
.section2.on{
    position: fixed;
    left: 0;
    top: 75px;
    width: 100%;
    z-index: 990;
}
.section2 li{
    display: inline-block;
    width: 24%;
}
.section2 li a{
    display:block;
    font-size: 14px;
    font-weight:500;
    height:100%;
}
#detail{
    padding: 140px 0 60px;
    background: url(../images/background.jpg)no-repeat left top/100% 100%;
    height:800px;
}

#detail h3{
    font-size: 30px;
    margin-bottom: 25px;
    margin-left:4%;
}
#detail h3 span{
    margin-right:5px;
}
#detail .contWrap{
    width: 92%;
    /* 460/500 */
    height: auto;
    margin: 0 auto;
}
#detail .contWrap li{
    width: 48%;
    height: 214px;
    margin: 1%;
    float:left;
    perspective: 800px;
    border-radius:10px;
}
#detail .contWrap li img{
    object-fit: cover;
    object-position: center top;
    width:100%;
    height:100%;
    border-radius:10px;
}
#detail .contWrap li .front{
    border-radius:10px;
}
#detail .contWrap li .back{
    background:#edc6b4;
    line-height:30px;
    text-align:center;
    font-size:20px;
    border-radius:10px;
}
#detail .contWrap li .back,
#detail .contWrap li .front{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .5s;
    backface-visibility: hidden;
}
#detail .contWrap li .back{
    transform:rotateY(-180deg);
}
#detail .contWrap li:hover .front{
    transform:rotateY(180deg);
}
#detail .contWrap li:hover .back{
    transform:rotateY(0);
}
#poster{
    padding: 40px 0 60px;
    background: url(../images/background.jpg) no-repeat left top/100% 100%;
    overflow: hidden;
    height:800px;
}
#poster .contWrap{
    width: 92%;
    /* 460/500 */
    height: auto;
    margin: 0 auto;
}
#poster h3{
    font-size: 30px;
    margin-bottom: 25px;
    margin-left:4%;
}
#poster h3 span{
    margin-right:5px;
}
#poster .contWrap li{
    width: 48%;
    height: 214px;
    /* border: 3px solid #edc6b4; */
    margin: 1%;
    overflow: hidden;
    float: left;
}
#poster .contWrap li a{
    display:block;
    width:100%;
    height:100%;
    background:url(../images/f1_the_movie.jpg)no-repeat center center/cover;
    position:relative;
    overflow:hidden;
}
#poster .contWrap li:nth-child(2) a{
    background-image: url(../images/jurassicWorld.jpg);
}
#poster .contWrap li:nth-child(3) a{
    background-image: url(../images/ya.jpg);
}
#poster .contWrap li:nth-child(4) a{
    background-image: url(../images/cheon.jpg);
}
#poster .contWrap li a .topLine{
    position:absolute;
    width:100%;
    height:8px;
    background:#dfa991;
    left:-100%;
    top:0;
}
#poster .contWrap li a .bottomLine{
    position:absolute;
    width:100%;
    height:8px;
    background:#dfa991;
    bottom:0;
    left:100%;
}
#poster .contWrap li a .rightLine{
    position:absolute;
    width:8px;
    height:100%;
    background:#dfa991;
    right:0;
    top:-100%;
}
#poster .contWrap li a .leftLine{
    position:absolute;
    width:8px;
    height:100%;
    background:#dfa991;
    left:0;
    top:100%;
}
#poster .posterOn{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    display:none;
    overflow:auto;
    background:url(../images/background.jpg);
}
#poster .posterOn.on{
    display:block;
}
#poster .posterOn .cont_in{
    width:80%;
    height:auto;
    position:absolute;
    top:75px;
    left:50%;
    transform:translateX(-90%);
    opacity:0;
    visibility: hidden;
    transition:all .5s;
    padding-bottom:60px;
}
#poster .posterOn .cont_in.on{
    opacity:1;
    visibility: visible;
    transform:translateX(-50%);
}
#poster .posterOn .cont_in>div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    display:none;
    background:#eee;
    padding:10px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}
#poster .posterOn .cont_in>div>p.imgB{
    width:300px;
    height:400px;
    background:url(../images/f1_the_movie.jpg) no-repeat center center/contain;
    margin-top:20px;
}
#poster .posterOn .cont_in>div .txtB{
    padding:20px;
    line-height:22px;
    font-size:15px;
    text-transform: capitalize;
    font-weight:500;
}
#poster .posterOn .cont_in>div .txtB span:first-of-type{
    display:block;
    font-size:30px;
    padding:10px 0 13px;
    font-weight:600;
}
#poster .posterOn .cont_in>div .txtB span:last-of-type{
    font-size:20px;
    padding:10px 0 13px;
    font-weight:600;
    display:block;
    color:#666;
}
#poster .posterOn .cont_in>div .txtB span:last-of-type em{
    font-style: normal;
    margin-right:5px;
    color:#777;
}
#poster .posterOn .cont_in>div:nth-of-type(2)>p.imgB{
    background-image: url(../images/jurassicWorld.jpg);
}
#poster .posterOn .cont_in>div:nth-of-type(3)>p.imgB{
    background-image: url(../images/ya.jpg);
}
#poster .posterOn .cont_in>div:nth-of-type(4)>p.imgB{
    background-image: url(../images/cheon.jpg);
}
#poster .posterOn .cont.on{
    display:flex;
}
#poster .posterOn .p_close{
    position:absolute;
    top:0px;
    right:0px;
    width:35px;
    height:35px;
    cursor: pointer;
    z-index:10;
    margin:10px;
}
#poster .posterOn .p_close span{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:6px;
    background:#333;
    transform:rotate(45deg);
    border-radius: 20px;
}
#poster .posterOn .p_close span:last-child{
    transform:rotate(-45deg);
}
#contact{
    height: 500px;
    font-size:14px;
    line-height:2;
    padding-top:120px;
    background: #e7d8d2;
    font-weight:500;
}
#contact .contactIn{
    width:92%;
    margin:0 auto;
    height:100%;
}
#contact .line{
    width:100px;
    height:2px;
    background:#aaa;
    margin-bottom:30px;
}
#contact .source{
    font-size:11px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color:#888;
}

#contact p:nth-of-type(4){
    margin-top:20px;
    margin-bottom:-6px;
}
#contact p:nth-of-type(5){
    margin-bottom:-6px;
}
#contact .email{
    font-size:12px;
    text-transform: none;
    color:#555;
    display:inline-block;
    margin-top:5px;
}
#contact .email:hover{
    text-decoration: underline;
}
#contact .flogo{
    padding-top:92px;
    text-align:center;
}
#contact .flogo img{
    width:auto;
    height:30px;
}
@media screen and (min-width: 768px) {
    .pc{
        display: block;
    }
    .mobile{
        display: none;
    }
    .navWrap{
        width: 100%;
        height: 100px;
        margin: 0 auto;
        padding: 0 5.052%;
    }
    #logo{
        width: 120px;
        height: 40px;
        margin-top: 30px;
    }
    header nav{
        position: relative;
        display: block;
        width: auto;
        height: auto;
        background: transparent;
    }
    .navIn{
        position: static;
        width: 65%;
        float: right;
        padding-top: 0;
        margin-right: 3%;
        background:none;
    }
    .navIn>span{
        display: none;
    }
    .navIn ul{
        width: 100%;
        margin: 0;
        border-top: none;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
    .navIn ul>li>a{
        height: 100px;
        line-height: 100px;
        border-bottom: none;
        padding-left: 0;
        font-size: 14px;
    }
    .visual{
        height:1080px;
        position: relative;
        background:url(../images/background_pc.jpg)no-repeat left top/100% 100%;
    }
    .visual>.v_img{
        width:100%;
        height: 100%;
        background:url(../images/visual_768.png) no-repeat center top/auto 100%;
    }
    .visual .scroll{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        bottom: 0;
        font-size:50px;
        animation:s_ani 1s linear infinite;
        animation-fill-mode: forwards;
    }
    .visual .scroll i{
        color:#999;
    }
    .swiper-button-next,
    .swiper-button-prev{
        padding:35px 30px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size:45px !important;
    }
    .profile{
        background:url(../images/background_pc.jpg)no-repeat left top/100% 100%;
        height:1080px;
    }
    .profile>.p_img{
        background:url(../images/profile_768.png)no-repeat center top/auto 100%;
        height: 100%;
    }
    .contents{
        height:1080px;
    }
    .contents .c_img{
        height:100%;
        background: url(../images/contents_768.png)no-repeat center top/auto 100%;
    }
    .contents{
        height: 1080px;
    }
    #web{
        height:1080px;
    }
    #web .contWrap{
        height:800px;
    }
    #web h3{
        font-size: 45px;
        margin-bottom: 65px;
    }
    #web .contWrap ul{
        height:100%;
    }
    #web .contWrap ul li{
        padding:20px;
        height:100%;
    }
    #web .contWrap ul li>a:first-child{
        display:block;
        overflow:hidden;
        height:400px;
        text-align:center;
        padding:50px 0 50px;
    }
    #web .contWrap ul li>a img{
        height:300px;
    }
    #web .contWrap ul li .txtB{
        font-size:16px;
        line-height:1.6;
        height:auto;
        padding:20px 20px 90px;
    }
    #web .contWrap ul li .txtB>div.title{
        font-size:25px;
    }
    #web .contWrap ul li .txtB>div.title span{
        display:inline-block;
        vertical-align: middle;
        font-size:20px;
        margin-left:10px;
    }
    #web .contWrap ul li .txtB>div:nth-child(2) .p{
        display:block;
        font-size:13px;
        margin-top:18px;
        line-height:1.8;
    }
    #web .contWrap ul li .web_,
    #web .contWrap ul li .detail{
        margin-top:25px;
        width:19.202%;
    }
    
    .des{
        margin-bottom:65px;
    }
    #detail{
        height:1300px;
        padding:170px 0 60px;
    }
    #detail h3{
        font-size: 45px;
        margin-bottom: 30px;
    }

    #detail .contWrap li{
        width: 48%;
        height: 400px;
    }
    #detail .contWrap li .back{
        font-size:25px;
    }
    #poster{
        height:1300px;
        padding:100px 0 60px;
    }
    #poster h3{
        font-size: 45px;
        margin-bottom: 30px;
    }
    #poster .contWrap li a .topLine,
    #poster .contWrap li a .bottomLine{
        height:10px;
    }
    #poster .contWrap li a .rightLine,
    #poster .contWrap li a .leftLine{
        width:10px;
    }
    #poster .posterOn .cont_in{
        width: 79.143%;
        height:600px;
        top: 17%;
        left: 50%;
    }
    
    #poster .posterOn .cont_in>div>p.imgB{
        height:500px;
        width:500px;
        margin-top:0;
        margin-left:2.767%;
    }
    #poster .posterOn .cont_in>div{
       flex-direction: row;
       height:600px;
    }
    #poster .posterOn .p_close{
        width:40px;
        height:40px;
    }
    #poster .contWrap li{
        width: 48%;
        height: 400px;
    }
    #contact{
        height: 500px;
        font-size:20px;
    }
    #contact .flogo{
        display:none;
    }
    #contact .source{
        font-size:13px;
    }
    #contact .email{
        font-size:17px;
        margin-top:6px;
    }
}
@media screen and (min-width:1280px) {
    h3{
        color:#444;
        font-weight:500;
    }
    .navIn ul>li>a{
        font-size:16px;
    }
    .visual>.v_img{
        background:url(../images/visual_pc.png)no-repeat right top/cover;
    }
    .visual, .profile, .content{
        height:1080px;
    }
    .profile>.p_img{
        background:url(../images/profile_pc.png)no-repeat right top/cover;
    }
    .contents .c_img{
        background: url(../images/contents_pc.png)no-repeat right top/cover;
    }
    #web{
        height:1080px;
    }
    #web .contWrap{
        height:800px;
    }
    #web .contWrap ul li{
        padding:20px;
        height:100%;
        display:flex;
        align-items: center;
    }
    #web .contWrap ul li>a:first-child{
        display:block;
        overflow:hidden;
        text-align:center;
        padding:0;
        width:50%;
        height:450px;
        padding:25px 0 25px;
    }
    #web .contWrap ul li>a img{
        height:400px;
    }
    #web .contWrap ul li .txtB{
        font-size:20px;
        line-height:1.8;
        width:50%;
        padding:25px;
        margin-right:60px;
    }
    #web .contWrap ul li .txtB>div.title{
        margin-bottom:35px;
        font-size:30px;
    }
    #web .contWrap ul li .txtB>div.title span{
        display:inline-block;
        vertical-align: middle;
        font-size:25px;
        margin-left:10px;

    }
    #web .contWrap ul li .txtB>div:nth-child(2) .p{
        display:block;
        margin-top:25px;
        font-size:15px;
        line-height:2.0;

    }
    #web .contWrap ul li .web_,
    #web .contWrap ul li .detail{
        margin-top:40px;
        width:150px;
        height:45px;
        line-height:45px;
        font-size:20px;
    }
    #detail{
        height:1080px;
        padding:240px 0 60px;
    }
    #detail .contWrap li{
        width: 23%;
        height: 500px;
    }
    #poster{
        height:1080px;
        padding:100px 0 60px;
    }
    #poster .contWrap li{
        width: 23%;
        height: 500px;
    }
    #contact .contactIn{
        display:flex;
        justify-content: space-between;
    }
    #poster .posterOn .cont_in{
        width:1200px;
        height:700px;
        top:13%;
    }
    #poster .posterOn .cont_in>div{
        width:1200px;
        height:700px;
    }
    #poster .posterOn .cont_in>div .txtB{
        line-height:30px;
        font-size:18px;
        text-transform: capitalize;
        padding-left:60px;
    }
    #poster .posterOn .cont_in>div>p.imgB{
        width:400px;
        height:600px;
    }
    #poster .posterOn .cont_in>div .txtB span:first-of-type{
        font-size:35px;
        padding:0 0 30px;
    }
    #poster .posterOn .cont_in>div .txtB span:last-of-type{
        font-size:25px;
        padding:10px 0 20px;
    }
    #contact .flogo{
        display:block;
    }
    #contact .flogo img{
        height:60px;
    }

}
/* chrome f12 moblie */
@media(min-resolution:2dppx) and (min-width:320px) and (max-width:767px) { 
    .visual,.profile,.contents{
        height:720px;
    }
    .visual>.v_img,.profile>.p_img,.contents .c_img{
        height:720px;
        background-size:100% auto;
        background-position: center center;
    }
    #contact .flogo{
        padding-top:90px;
    }
    #contact .source{
        display:none;
    }
    #web h3,#detail h3,#poster h3{
        font-size:25px;
    }
    .des{
        font-size:13px;
    }
}
@media screen and (width:712px) and (height:1138px){
    .visual,.profile,.contents{
        height:800px;
    }
    .visual>.v_img,.profile>.p_img,.contents .c_img{
        height:800px;
        background-size:auto 100%;
        background-position: center top;
    }
    #web h3,#detail h3,#poster h3{
        font-size:30px;
    }
    .des{
        font-size:16px;
    }
}
@media(min-resolution:3dppx){
    .visual,.profile,.contents{
        height:720px;
    }
    .visual>.v_img,.profile>.p_img,.contents .c_img{
        height:720px;
        background-size:100% auto;
        background-position: center center;
    }
}
@keyframes s_ani{
    0%,100%{
        transform:translateY(0)
    }
    50%{
        transform: translateY(-30px);
    }
}